/doc/tmp/
/doc/*.idx
/doc/*.nls
/doc/*.nlo
/doc/.project
/doc/.texlipse
/doc/.settings/
/doc/*.aux
/doc/*.maf
/doc/*.mtc
/doc/*.mtc*
/doc/*.ptc*
/doc/*.tcp
/doc/*.tps
/doc/*.pdf
/doc/*.fdb_latexmk
/doc/*.ilg
/doc/*.ind
/doc/*.log
/doc/*.out
/doc/*.toc
/doc/*.bbl
/doc/*.blg
*~
